@charset "UTF-8";

body{ height: 100vh;
    background-image: url(https://gustavoguanabara.github.io/images/mascote-html5.png);
    background-size: 98px;
    background-repeat: no-repeat;
    background-position: center center;
}