@charset "UTF-8";

body { height: 100vh ;
    background-color: black;
    background-image: url(img/wallpaper002.jpg);
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover  ;
}

main {
    text-align: center;
    background-color: rgb(255, 255, 255);
    width: 400px;
    padding: 20px;
    margin: auto;
    border-radius: 5px;
    border: 1px solid rgb(0, 0, 0);
    font-family: Georgia, 'Times New Roman', Times, serif;
}