@charset "UTF-8";

body {
    font-family: Arial, Helvetica, sans-serif;
}

table {
    width: 600px;
}

td,
th {
    border: 1px solid black;
    padding: 10px;

}

table {
    position: relative;
}

thead>tr>th {
    position: sticky;
    top: 0;
    background-color: rgb(144, 86, 86);
}

thead,
tfoot {
    background-color: rgb(151, 100, 98);
    color: aliceblue;
}

td.num {
    text-align: right;
}

caption {
    font-size: 1.5em;
    font-weight: bold;
    padding: 10px;
    background-color: rgba(198, 131, 131, 0.459);
}

tbody>tr:nth-child(odd) {
    background-color: rgb(215, 189, 177);
}