@charset "UTF-8";

*{
    margin: 0px;
    padding: 0px;
}


html,body{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    width: 100vw;
    height: 100vh;
    
  
}

header>h1 {
 
    background-color: rgba(97, 119, 133, 0.674);
    text-align: center;
    padding: 10px;
} 
nav{
    background-color:  rgba(136, 174, 175, 0.674);
    text-align: center;
    padding: 9px;
}
h1{
    font-size: 1.6em;
}
a{
    background-color: rgba(82, 91, 157, 0.656);
    border-radius: 10px 10px ;
    padding: 5px;
    margin: 5px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}